.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.photo {
  height: 200px;
  width: 200px;
  margin: 25px;
}
.user-message{
  font-size: 20px;
  margin: 25px;
  justify-content: left;
}
.cart-button {
  height: 7.5vh;
  width: 7.5vh;
  font-size: 10px;
  margin: 2vh;
  color: black;
}
.cart-lbl{
  font-size: 10px;
  justify-content: right;
}
.add-to-cart{
  height: 5vh;
  width: 10vh;
  border-radius: 2px;
}
.cart-span{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin: 2vh;
}
.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Login{
      top: 0%;
      background-color: #282c34;
      min-height: 100vh;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-size: cover;
      align-items: center;
      font-size: calc(10px + 2vmin);
      color: white;
  }

.App-link {
  color: #61dafb;
}
.register-popup{
  font-size: 20px;
  margin: 25px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.err-msg{
  color: red;
  font-size: 20px;
  margin: 25px;
  justify-content: left;
}
